{% extends "admin/base_site.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{{ block.super }}
{% render_bundle 'appAdminStyle' skip_common_chunks=True suffix='' %}
<style>
    h2 {
        margin-bottom: 30px;
    }

    h3,
    h4,
    h5,
    h6 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    p {
        text-align: justify;
    }

    pre {
        margin-top: 15px;
        overflow: auto;
    }

    code,
    pre,
        {
        font-family: monospace;
        font-size: 1em;
        white-space: pre-wrap;
    }

    .hljs {
        background-color: #DDD;
        width: 98%;
        -webkit-box-shadow: 3px 8px 6px -6px black;
        -moz-box-shadow: 3px 8px 6px -6px black;
        box-shadow: 3px 8px 6px -6px black;
    }

</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo;
    <a href="{% url 'django-admindocs-docroot' %}">{% trans 'Documentation' %}</a>
    &rsaquo; {% trans 'Manual' %}
</div>
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'de' %}
{% include 'admin_doc/MANUAL_DE.html' %}
{% else %}
{% include 'admin_doc/MANUAL_EN.html' %}
{% endif %}
{% endblock %}
