/* minimal style for the diffs */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

div.module pre,
div.module del,
div.module ins {
  color: #000;
  text-decoration: none;
  /* overflow: scroll !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap; */
}

div.module del {
  background-color: #ffe6e6;
}

div.module ins {
  background-color: #e6ffe6;
}

div.module sup.follow {
  color: #5555ff;
}

/* language flags */

.lang-button-de {
  background: url(~core_assets/img/default/flag_DE.png) no-repeat;
  margin: 0px 10px 0px 2px;
  padding: 12px 10px 6px 12px;
}

.lang-button-en {
  background: url(~core_assets/img/default/flag_EN.png) no-repeat;
  margin: 0px 10px 0px 2px;
  padding: 12px 10px 6px 12px;
}

/* re-size form fields */

#id_title,
#id_name,
#id_slug,
#id_tags,
.tagify,
#id_meta_keywords,
#id_msgid,
#id_value,
#id_code_repository {
  width: 60%;
}

#id_description,
#id_msgstr {
  width: 100%;
}

div.form-row > div.field-box > label {
  vertical-align: -5px;
}

/* bugfix for size of OTP field */

#login-form > div.form-row > #id_username,
#login-form > div.form-row > #id_password,
#login-form > div.form-row > #id_otp_auth {
  width: 100%;
}

/* bufix for JET select2-dropdown list */
.select2-container--jet .select2-dropdown {
  z-index: 9999;
}

/* bugfix for JET boolean fields */
.icon-tick::before,
.icon-cross::before {
  color: #8b9aa7;
}

/* bugfix for permission select boxes */
.selector-chosen > #id_groups_to,
.selector-chosen > #id_user_permissions_to,
.selector-chosen > #id_permissions_to {
  height: 272px;
}

/* TinyMCE styles */
body#tinymce {
  background-color: #fff;
  background-image: none;
  padding: 20px 15px 20px 15px !important;
}

/* bugfix for filebrowser styles */

.mce-window-head {
  padding: 15px 15px !important;
}

.mce-window-head .mce-close {
  height: 30px !important;
  width: 30px !important;
}

.popup.filebrowser .object-tools {
  margin-top: 0px !important;
  float: right !important;
}

/* TinyMCE responsive media dialogs */
@media (max-width: 521.98px) {
  .mce-window {
    max-width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }

  .mce-window-body {
    max-width: 100% !important;
    min-height: 230px !important;
  }

  .mce-container {
    max-width: 100% !important;
    height: auto !important;
  }

  .mce-container.mce-panel.mce-abs-layout-item,
  .mce-container.mce-panel.mce-abs-layout-item
    .mce-container-body.mce-abs-layout {
    min-height: 210px !important;
  }

  .mce-flow-layout {
    text-align: center !important;
  }

  .mce-flow-layout-item.mce-btn-group {
    border-left: none !important;
  }

  .mce-panel,
  .mce-panel > .mce-container-body,
  .mce-foot,
  .mce-foot > .mce-abs-layout {
    max-width: 100% !important;
    text-align: center;
  }

  .mce-formitem {
    width: 300px !important;
    left: 10px !important;
    display: block !important;
  }

  .mce-formitem:nth-child(2) {
    top: 10px !important;
  }

  .mce-formitem:nth-child(3) {
    top: 50px !important;
  }

  .mce-formitem:nth-child(4) {
    top: 90px !important;
  }

  .mce-formitem:nth-child(5) {
    top: 130px !important;
  }

  .mce-formitem:nth-child(6) {
    top: 170px !important;
  }

  .mce-container.mce-form.mce-abs-layout-item
    .mce-container-body.mce-abs-layout
    .mce-container.mce-form.mce-abs-layout-item {
    top: 40px !important;
    left: 0 !important;
    height: 160px !important;
  }

  .mce-formitem label {
    width: 106px !important;
    font-size: 13px !important;
    left: 0px !important;
  }

  .mce-multiline {
    max-width: 290px !important;
  }

  .mce-checkbox {
    top: 40px !important;
    left: 0 !important;
  }

  .mce-label {
    font-size: 13px !important;
  }

  .mce-foot .mce-btn-has-text {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    display: inline-block !important;
    margin: 10px 5px !important;
  }

  .mce-abs-layout-item input {
    max-width: 150px !important;
  }

  .mce-abs-layout-item.mce-has-open input {
    max-width: 118px !important;
  }
}

@media (max-width: 960px) {
  .form-row .mce-tinymce {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
