<!--
	Copyright (C) 2018 dsoft-app-dev.de and friends.

	This Program may be used by anyone in accordance with the terms of the
	German Free Software License

	The License may be obtained under http://www.d-fsl.org.
-->

{% load i18n static core_settings_tags websettings_tags %}

<!DOCTYPE html>
<html lang="de">

<head>
    <title>{% transFromWebSettings "WEBSITE_TITLE" %}</title>
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    >
    <!-- Add to Home Screen for iOS -->
    <meta
        name="apple-mobile-web-app-capable"
        content="yes"
    >
</head>

{% getCoreSettingItemsFor _('Advertising Item') 'Maintenance-Mode' 1 as object_list %}
{% for object in object_list %}
<body style="{{ object.background_style|handleWebSettingsType }}">
    <img src="{{ object.src|handleWebSettingsType }}" alt="Maintenance Mode" style="{{ object.img_style|handleWebSettingsType }}">
</body>
{% endfor %}

</html>
