{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static websettings_tags %}

{% block content %}
<div class="container_12">
    <div
        class="grid_4"
        data-scrollreveal="enter from the top after 0.3s ease-out"
        style="-webkit-transform: translatey(-24px);-moz-transform: translatey(-24px);transform: translatey(-24px);opacity: 0;"
        data-scrollreveal-initialized="true"
    >
        <div class="block">
            <div class="moduletable-icon-noicon ">
                <h1>{% transFromWebSettings "BOTTOMCONTENT_01_HEADING" %}</h1>
                <div class="clr">
                </div>
                <br />
                <div class="custom">
                    <span>{% transFromWebSettings "BOTTOMCONTENT_01_PARA" %}</span>
                </div>
            </div>
        </div>
    </div>
    <div
        class="grid_4"
        data-scrollreveal="enter from the top after 0.6s ease-out"
        style="-webkit-transform: translatey(-24px);-moz-transform: translatey(-24px);transform: translatey(-24px);opacity: 0;"
        data-scrollreveal-initialized="true"
    >
        <div class="block">
            <div class="moduletable-icon-noicon ">
                <h1>{% transFromWebSettings "BOTTOMCONTENT_02_HEADING" %}</h1>
                <div class="clr">
                </div>
                <br />
                <div class="custom">
                    <span>{% transFromWebSettings "BOTTOMCONTENT_02_PARA" %}</span>
                </div>
            </div>
        </div>
    </div>
    <div
        class="grid_4"
        data-scrollreveal="enter from the top after 0.9s ease-out"
        style="-webkit-transform: translatey(-24px);-moz-transform: translatey(-24px);transform: translatey(-24px);opacity: 0;"
        data-scrollreveal-initialized="true"
    >
        <div class="block">
            <div class="moduletable-icon-noicon ">
                <h1>{% transFromWebSettings "BOTTOMCONTENT_03_HEADING" %}</h1>
                <div class="clr">
                </div>
                <br />
                <div class="custom">
                    <span>{% transFromWebSettings "BOTTOMCONTENT_03_PARA" %}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
