{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}
<a
    href="https://dsoft-app-dev.de"
    target="_blank"
>
    <span style="text-transform: uppercase; letter-spacing: 1px; background-color: #131313;">
        <span style="color: #9cdcf7;">{D}</span>
        <span style="color: #fff;">S</span>
        <span style="color: #fff;">A</span>
        <span style="color: #fff;">D</span>
    </span>
</a>
{% endblock %}
