{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


<ul class="navig">
    {% for item in items %}
    {% if item.visible %}
    <li class="{% if item.children %}deeper parent{% endif %}">
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% if item.children %}
        {% with items=item.children template_name='home/includes/menu-submenu.html' %}
        {% include template_name %}
        {% endwith %}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
