{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}

<ul
    id="menu"
    class="menu"
>
    <li id="toggle">
        <a href="#menu">
            <i class="fa fa-align-justify"></i>
        </a>
    </li>
    <li id="hide">
        <a href="#toggle">
            <i class="fa fa-align-justify"></i>
        </a>
    </li>
    {% for item in menu %}
    {% if item.visible %}
    <li class="{% if item.title == selected_menu_parent.title %}current active{% endif %} {% if item.children %}deeper parent{% endif %}">
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% if item.children %}
        {% include 'home/includes/menu-submenu.html' with items=item.children %}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% if languages|length > 1 %}
    {% for language in languages %}
    <form
        action="{% url 'home:set_language' %}"
        method="post"
        id="form_{{ language.code }}"
        style="display:inline!important;"
    >
        {% csrf_token %}
        <input
            name="next"
            type="hidden"
            value="{{ redirect_to }}"
        />
        <input
            name="language"
            type="hidden"
            value="{{ language.code }}"
        />
    </form>
    <li>
        <button
            class="lang-button-{{ language.code }}"
            type="submit"
            form="form_{{ language.code }}"
            value="Submit"
        ></button>
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}
