<!-- HTML Meta Tags -->
{% load core_settings_tags websettings_tags %}
{% getCoreSettingItemsFor _('Meta Tag') 'HTML Tags' as object_list %}
{% for object in object_list %}
    {% for obj in object|getWebSettingsAttribItems %}
        <meta name="{{ obj|getAttribItemKey }}" content="{{ obj|getAttribItemValue|handleWebSettingsType }}">
    {% endfor %}
{% endfor %}

<!-- Google / Search Engine Tags -->
{% getCoreSettingItemsFor _('Meta Tag') 'Google Tags' as object_list %}
{% for object in object_list %}
    {% for obj in object|getWebSettingsAttribItems %}
        <meta itemprop="{{ obj|getAttribItemKey }}" content="{{ obj|getAttribItemValue|handleWebSettingsType }}">
    {% endfor %}
{% endfor %}

<!-- Facebook Meta Tags -->
{% getCoreSettingItemsFor _('Meta Tag') 'Facebook Tags' as object_list %}
{% for object in object_list %}
    {% for obj in object|getWebSettingsAttribItems %}
        <meta property="{{ obj|getAttribItemKey }}" content="{{ obj|getAttribItemValue|handleWebSettingsType }}">
    {% endfor %}
{% endfor %}

<!-- Twitter Meta Tags -->
{% getCoreSettingItemsFor _('Meta Tag') 'Twitter Tags' as object_list %}
{% for object in object_list %}
    {% for obj in object|getWebSettingsAttribItems %}
        <meta name="{{ obj|getAttribItemKey }}" content="{{ obj|getAttribItemValue|handleWebSettingsType }}">
    {% endfor %}
{% endfor %}
