{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

<div class="pagination justify-content-center">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&searchword={{ searchword }}">
            {% trans "PAGE_PREV" %}</a>
        {% endif %}
        <span class="page-current">
            {% trans "PAGE_TEXT1" %} {{ page_obj.number }} {% trans "PAGE_TEXT2" %} {{ page_obj.paginator.num_pages }}
        </span> {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&searchword={{ searchword }}">
            {% trans "PAGE_NEXT" %}</a> {% endif %}
    </span>
</div>
