{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static core_settings_tags websettings_tags %}

{% block content %}
<div class="carousel-slider cl-parallax">
    <div class="main cl-align-center">
        <div
            id="myCarouselIndicators"
            class="carousel slide cl-client-carousel"
            data-ride="carousel"
            data-pause="false"
            style="display: block; opacity: 1;"
        >
            {% getCoreSettingItemsFor _('Slider Item') 'Parallax-Slider' as object_list %}
            <ol class="carousel-indicators">
                {% for object in object_list %}
                <li
                    data-target="#myCarouselIndicators"
                    data-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.first %}active{% endif %}"
                ></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for object in object_list %}
                <div class="carousel-item client-carousel-item {% if forloop.first %}active{% endif %}">
                    {% if object.text %}
                    <figure>
                        <i class="{{ object.class|handleWebSettingsType }}"></i>
                    </figure>
                    <h3>{{ object.title|handleWebSettingsType }}</h3>
                    <p>{{ object.text|handleWebSettingsType }}</p>
                    {% elif object.src %}
                    <img
                        class="{{ object.class|handleWebSettingsType }}"
                        src="{{ object.src|handleWebSettingsType }}"
                        alt=".."
                    >
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <a
                class="carousel-control-prev"
                href="#myCarouselIndicators"
                role="button"
                data-slide="prev"
            >
                <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                ></span>
                <span class="sr-only">{% trans "CAROUSEL_CTRL_PREV" %}</span>
            </a>
            <a
                class="carousel-control-next"
                href="#myCarouselIndicators"
                role="button"
                data-slide="next"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                ></span>
                <span class="sr-only">{% trans "CAROUSEL_CTRL_NEXT" %}</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
