<!--
	Copyright (C) 2018 dsoft-app-dev.de and friends.

	This Program may be used by anyone in accordance with the terms of the
	German Free Software License

	The License may be obtained under http://www.d-fsl.org.
-->

{% load i18n static %} {% static "" as baseUrl %} {% block content %}
<div id="parallax-images">
	<div class="parallax bg images-parallax">
		<div class="content-p">
			<p>
				<span class="exemple" style="color: #fff; padding: 25px; font-weight: bold; text-transform: uppercase; letter-spacing: 5px; font-size: 45px;">
					<span style="color: #9cdcf7; text-transform: none;">{Daßler}</span>
					<span>
						<firstletter style="color: #9cdcf7;">S</firstletter>oftware & </span>
					<span>
						<firstletter style="color: #9cdcf7;">A</firstletter>pplication</span>
					<span>
						<firstletter style="color: #9cdcf7;">D</firstletter>evelopment</span>
				</span>
			</p>
		</div>
	</div>
</div>
{% endblock %}
