/*--------------------------------------------------------------
 *  Copyright (C) 2018 dsoft-app-dev.de and friends.
 *
 *  This Program may be used by anyone in accordance with the terms of the
 *  German Free Software License
 *
 *  The License may be obtained under http://www.d-fsl.org.
 *-------------------------------------------------------------*/

/* Project colors
-----------------

1st: Black #121212
2nd: Blue #9cdcf7
3rd: Orange #ce9178

Additional:

Green #b5cea8
Dark Grey #2d2d2d
Light Grey #787878

*/

body {
  /* Margin bottom between content and footer */
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.separator {
  padding: 20px;
}

a {
  font-family: Roboto, sans-serif;
  color: #000000;
  text-decoration: underline;
}

a:hover {
  color: #555555;
  text-decoration: underline;
}

#sitename a {
  color: #ffffff;
  text-transform: uppercase;
}

#sitename a:hover {
  color: #888888;
}

#sitename a img {
  width: 120px;
  height: 69px;
  margin-top: -15px;
}

h1 {
  font-family: Roboto, sans-serif;
  color: #252525;
}

h2 {
  font-family: Roboto, sans-serif;
  color: #252525;
}

h3 {
  font-family: Roboto, sans-serif;
  color: #252525;
}

h4,
h5,
h6 {
  font-family: PT Sans, sans-serif;
  color: #252525;
}

#navigation ul.menu li a {
  font-family: Roboto, sans-serif !important;
}

#navigation ul.menu li a {
  color: #787878 !important;
}

#navigation ul.menu li a:hover {
  color: #888888 !important;
}

#navigation ul.menu ul li a {
  color: #888888 !important;
}

div#navigation > ul#menu.menu > li.current.active > a {
  color: #ffffff !important;
}

.lang-button-de {
  background: url(~core_assets/img/default/flag_DE.png) no-repeat;
  margin: 0px 10px 0px 10px;
  padding: 12px 10px 6px 12px;
}

.lang-button-en {
  background: url(~core_assets/img/default/flag_EN.png) no-repeat;
  margin: 0px 10px 0px 10px;
  padding: 12px 10px 6px 12px;
}

.fb_share_button,
.print_button,
.email_button {
  /* for more icons see https://simplesharebuttons.com/html-share-buttons */
  width: 45px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

#content {
  margin: 0 auto;
  max-width: 90%;
  margin-top: 35px;
  padding: 25px 15px;
}

figure {
  padding: 5px;
}

figure.image {
  display: inline-block;
  margin: 0 2px 0 1px;
  background: #f5f2f0;
  /* border: 1px solid #000;
    border-radius: 3px 3px 0 0; */
}

figure.align-right {
  float: right;
}

figure.align-lefg {
  float: left;
}

figure.image figcaption {
  /* background-color: #838383;
  color: white; */
  font-style: italic;
  border-radius: 0 0 3px 3px;
  margin: 6px 8px 6px 8px;
  text-align: center;
}

.btn {
  border: none;
  padding: 10px;
  margin: 20px 0;
  border-radius: 0;
  height: auto;
  width: auto;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  line-height: 25px;
}

.btn-dark {
  background: #262626;
}

.otp_is_disabled:before {
  content: 'DISABLED';
  z-index: 1;
  color: #fff;
  font-size: 11px;
  background: red;
  border: solid 1px darkred;
  padding: 2px;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.7;
  -webkit-text-shadow: 0 0 2px red;
  text-shadow: 0 0 2px red;
  box-shadow: 0 0 2px red;
}

.otp_is_enabled:before {
  content: 'ENABLED';
  z-index: 1;
  color: #fff;
  font-size: 11px;
  background: green;
  border: solid 1px darkgreen;
  padding: 2px;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.7;
  -webkit-text-shadow: 0 0 2px green;
  text-shadow: 0 0 2px green;
  box-shadow: 0 0 2px green;
}

.form_errors {
  color: #dc3545;
}

.form_messages {
  color: #000000;
}

.nav-item > a.nav-link {
  text-decoration: none !important;
}

.tab-content {
  min-height: 300px;
}

#block-bottomcontent {
  border-bottom: none !important;
}

#block-bottomcontent .container_12 {
  text-align: left;
}

#block-bottomcontent .custom {
  text-align: justify !important;
  padding: 10px !important;
  font-size: 10pt !important;
}

/* Popup without JavaScript. Used for NoScript */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 99998;
}

.overlay:target {
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 99999;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #252525;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.cookie-buttons {
  display: block;
  height: 40px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;
  font: inherit;
  font-size: 13px;
  font-weight: bold;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cookie-buttons > .btn-dark {
  padding: 10px !important;
  background: #262626 !important;
}

.cookie-buttons > .btn-grey {
  float: left;
  width: 50%;
}

div.members > form > * > input {
  display: block !important;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .popup {
    width: 70%;
  }

  .images-parallax {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    background-repeat: repeat;
    background-position: 100% 30px;
  }

  .content-p {
    padding: 40px 0;
  }

  .images-parallax {
    height: 100px;
  }

  #content {
    margin: 0 auto;
    max-width: 95%;
  }

  div.content-text img {
    position: relative;
    float: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }

  .carousel-slider {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    height: 360px;
  }

  .carousel-slider .main {
    padding: 10px 0;
  }

  .form-control {
    width: 100% !important;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  .popup {
    width: 70%;
  }

  .images-parallax {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    background-repeat: repeat;
    background-position: 100% 30px;
  }

  .content-p {
    padding: 40px 0;
  }

  #content {
    margin: 0 auto;
    max-width: 95%;
  }

  .carousel-slider {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    height: 550px;
  }

  /* re-size form fields and labels of django.contrib.auth.forms */
  .form-control {
    width: 100% !important;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  .images-parallax {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    background-repeat: repeat;
    background-position: 100% 30px;
  }

  .content-p {
    padding: 40px 0;
  }

  .carousel-slider {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    height: 550px;
  }

  /* re-size form fields and labels of django.contrib.auth.forms */
  .form-control {
    max-width: 650px !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  .images-parallax {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    background-repeat: repeat;
    background-position: 100% 30px;
  }

  .carousel-slider {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    height: 550px;
  }

  /* re-size form fields and labels of django.contrib.auth.forms */
  .form-control {
    max-width: 650px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .images-parallax {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    background-repeat: repeat;
    background-position: 100% 30px;
  }

  .carousel-slider {
    background-image: url(~core_assets/img/banners/CodeBanner_medres.png);
    height: 550px;
  }

  /* re-size form fields and labels of django.contrib.auth.forms */
  .form-control {
    max-width: 650px !important;
  }
}
