ul.menu #toggle,
ul.menu #hide {
  display: none;
}

#navigation {
  text-align: center;
  margin-top: 40px;
}

#navigation ul.menu {
  margin: 0px 0 0px 0;
  padding: 0 !;
  position: relative;
  display: inline-block;
  text-align: center;
}

#navigation ul.menu li {
  font-size: 11px;
  margin: 0px 0 0 0;
  padding: 0px 0 4px 0;
  float: left;
  outline: none;
  position: relative;
  list-style: none;
  transition: all ease 700ms;
  -moz-transition: all ease 700ms;
  -webkit-transition: all ease 700ms;
  -ms-transition: all ease 700ms;
  -o-transition: all ease 700ms;
  letter-spacing: 2px;
}

#navigation ul.menu li a {
  padding: 0px 18px 0px 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 300;
  height: 40px;
  transition: all ease 700ms;
  -moz-transition: all ease 700ms;
  -webkit-transition: all ease 700ms;
  -ms-transition: all ease 700ms;
  -o-transition: all ease 700ms;
}

#navigation ul.menu li a:hover {
  background: transparent;
}

#navigation ul.menu li.active a {
  background: transparent !important;
}

#navigation ul.menu li.current.activedeeper.parent > a {
}

/****** dropdown Navigation ******/

#navigation ul.menu li:hover > ul {
  visibility: visible !important;
  opacity: 1 !important;
}

#navigation ul.menu ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  visibility: hidden !important;
  position: absolute !important;
  z-index: 999 !important;
  width: 220px !important;
  opacity: 0 !important;
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear !important;
  -moz-transition: opacity 0.2s linear, visibility 0.2s linear !important;
  -o-transition: opacity 0.2s linear, visibility 0.2s linear !important;
  transition: opacity 0.2s linear, visibility 0.2s linear !important;
  background: #121212;
}

#navigation ul.menu ul {
  top: 53px !important;
  left: 0 !important;
}

#navigation ul.menu ul:after {
  clear: both !important;
  display: block !important;
}

#navigation ul.menu ul li ul {
  top: 0px !important;
  left: 200px !important;
  /* padding:7px  ;  */
  margin: 0;
}

#navigation ul.menu ul li {
  clear: both !important;
  width: 100% !important;
  border: 0 none !important;
  text-align: left !important;
  height: 58px;
  padding-bottom: 0px !important;
  padding-top: 0px;
  line-height: 65px !important;
}

#navigation ul.menu ul li a {
  background: none !important;
  padding: 0px 0 0px 15px !important;
  text-decoration: none !important;
  display: block !important;
  border: none !important;
  float: left !important;
  /* height:60px; */
  margin: 2px 0 0 0;
  width: 100%;
}

div#navigation > ul#menu.menu li.deeper.parent a:after {
  content: '\f0dd' !important;
  font-family: fontawesome;
  font-weight: normal;
  margin-left: 10px;
  height: 60px;
}

div#navigation > ul#menu.menu li.deeper.parent a:hover:after {
}

div#navigation > ul#menu.menu li.deeper.parent a:before {
  content: '' !important;
  font-family: fontawesome;
}

div#navigation
  > ul#menu.menu
  li.deeper.parent
  > ul.navig
  > li.deeper.parent
  > a:after {
  content: '' !important;
  font-family: fontawesome;
}

div#navigation
  > ul#menu.menu
  li.deeper.parent
  > ul.navig
  > li.deeper.parent
  > a:before {
  content: '' !important;
}

div#navigation > ul#menu.menu li.deeper.parent a {
}

#navigation ul.menu ul li a {
  -webkit-transition: all 0.2s ease-in-out !important;
  -moz-transition: all 0.2s ease-in-out !important;
  -o-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;
}

#navigation ul.menu ul li a:hover {
  background: transparent !important;
  padding: 0px 0 0 20px !important;
  text-decoration: none !important;
  display: block !important;
  border: 0 none !important;
  width: 200px !important;
  text-align: left !important;
  -webkit-transition: all 0.4s ease-in-out !important;
  -moz-transition: all 0.4s ease-in-out !important;
  -o-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
  height: 60px;
}

div#navigation > ul#menu.menu li.deeper.parent > ul.navig > li a:after {
  content: '' !important;
}

#navigation ul.menu ul li ul {
  background: #252525 !important;
}

div#navigation-res {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  text-align: center !important;
  width: 100%;
}

#navigation-res ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center !important;
}

#navigation-res li {
  margin-bottom: 20px;
}

#navigation-res li li {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: 0;
}

#navigation-res a {
  display: block;
  text-decoration: none;
  padding: 8px 0;
  font-size: 22px !important;
  text-transform: uppercase;
}

#navigation-res ul li a,
#navigation-res li:hover li a {
  font-size: 1em;
  color: #fff !important;
}

#navigation-res li a:hover {
  color: #67696e !important;
}

#navigation-res li:hover li {
  max-height: 15em;
}

div#navigation-res ul#menu.menu li.deeper.parent a:after {
  content: '\f0dd' !important;
  font-family: fontawesome;
  color: #fff;
  font-weight: normal;
  padding-left: 10px;
}

div#navigation-res > ul#menu.menu li.deeper.parent a:before {
  content: '' !important;
  font-family: fontawesome;
}

div#navigation-res
  > ul#menu.menu
  li.deeper.parent
  > ul.navig
  > li.deeper.parent
  > a:after {
  content: '' !important;
  font-family: fontawesome;
}

div#navigation-res
  > ul#menu.menu
  li.deeper.parent
  > ul.navig
  > li.deeper.parent
  > a:before {
  content: '' !important;
  font-family: fontawesome;
}

#navigation-res ul#menu.menu > li.deeper.parent > ul.navig > li > a:after {
  content: '' !important;
  font-family: fontawesome;
}

#navigation-res ul.menu ul li a {
  font-size: 18px !important;
  text-transform: none;
}
