.cl-align-center {
  text-align: center;
  width: 100%;
}

.cl-parallax {
  background-size: cover;
  -webkit-background-size: cover;
  /* pour Chrome et Safari */
  -moz-background-size: cover;
  /* pour Firefox */
  -o-background-size: cover;
  /* pour Opera */
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
}

.carousel-slider {
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.carousel-slider .main {
  color: #fff;
  padding: 110px 0;
}

.carousel-slider .main a {
  margin: 10px;
}

.cl-logo-container img {
  margin: 10px 0;
}

.cl-logo-carousel .item figure {
  border: 1px solid #d5d5d5;
  margin: 5px;
  padding: 21px 0;
  max-height: 100px;
}

.cl-logo-carousel .item figure img {
  display: block;
  margin: 0px auto;
  width: 70%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cl-logo-carousel .item figure img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

.cl-logo-carousel.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #bfbfbf;
}

.cl-logo-carousel.owl-theme .owl-controls .owl-page.active span,
.cl-logo-carousel.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: transparent;
  border: 2px solid #bfbfbf;
}

.cl-client-carousel {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  margin-top: 10px;
  height: 100%;
}

.cl-client-carousel .client-carousel-item figure {
  height: 90px;
  width: 90px;
  border: 2px solid #fff;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}

.cl-client-carousel .client-carousel-item figure i {
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: 0;
}

.cl-client-carousel .client-carousel-item h3 {
  font-size: 3em;
  font-weight: 600;
  font-family: Roboto, serif;
  text-transform: uppercase;
  padding: 40px 0;
  line-height: 35px;
  color: #fff;
}

.cl-client-carousel .client-carousel-item p {
  width: 100%;
  margin: 10px auto;
  font-size: 1.1em;
}

.cl-client-carousel.owl-theme .owl-controls .owl-page span {
  display: block !important;
  width: 15px !important;
  height: 15px !important;
  margin: 5px 7px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  background: #fff !important;
  border: 2px solid #fff !important;
  opacity: 1 !important;
}

.cl-client-carousel.owl-theme .owl-controls .owl-page.active span,
.cl-client-carousel.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: transparent !important;
  border: 2px solid #fff !important;
  -webkit-border-radius: 18px !important;
  -moz-border-radius: 18px !important;
  border-radius: 18px !important;
  opacity: 1 !important;
}

/* Bugfix for bootstrap to hide numbers on indicators */

.carousel-slider ol li {
  list-style: none !important;
}
