.parallax {
  background-attachment: fixed;
  background-position: top center !important;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 0 0 0px 0;
  text-align: center;
  background-size: cover;
}

#parallax-images {
  float: left;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-size: cover;
  z-index: 2;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.content-p {
  position: relative;
  padding: 160px 0;
  text-align: center;
  z-index: 5;
}

.images-parallax {
  background-attachment: fixed;
  z-index: 2;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
}

#parallax-modules {
  display: none;
  text-indent: -5000px;
}
