.ui-widget {
  background-color: #fff;
}

.ui-widget-header {
  background-color: #dee2e6;
  color: #000;
}

.ui-dialog .ui-dialog-titlebar-close {
  background: none;
  border: none;
}

.ui-dialog-buttonset button {
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  margin: 20px 0;
  border-radius: 0;
  border: solid 1px #000;
  height: auto;
  width: auto;
  font-weight: bold;
  text-decoration: none;
  vertical-align: top;
}
