/* https://github.com/josdejong/jsoneditor */
/* dark styling of the editor */
div.jsoneditor,
div.jsoneditor-menu {
  border-color: #4b4b4b;
}
div.jsoneditor-menu {
  background-color: #4b4b4b;
}

div.jsoneditor-menu > button:disabled {
  background-color: #2d2d2d;
}

div.jsoneditor-contextmenu ul {
  background-color: #ebebeb;
}

div.jsoneditor-tree,
div.jsoneditor-tree table,
div.jsoneditor textarea.jsoneditor-text {
  background-color: #2d2d2d;
  color: #ffffff;
  box-shadow: 0 0 0 0 #d5e3ec;
  border-radius: 0;
  margin-bottom: 0;
}

div.jsoneditor-tree tbody > tr {
  border-bottom: 0;
}

div.jsoneditor-field,
div.jsoneditor-value {
  background-color: #2d2d2d;
  color: #ffffff;
}

table.jsoneditor-search div.jsoneditor-frame {
  background: #808080;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
  background-color: #808080;
}

div.jsoneditor-field[contenteditable='true']:focus,
div.jsoneditor-field[contenteditable='true']:hover,
div.jsoneditor-value[contenteditable='true']:focus,
div.jsoneditor-value[contenteditable='true']:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
  background-color: #808080;
  border-color: #808080;
}

div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}

div.jsoneditor-tree button:focus {
  background-color: #868686;
}

/* coloring of JSON in tree mode */
div.jsoneditor-readonly {
  color: #acacac;
}
div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
div.jsoneditor-value.jsoneditor-string {
  color: #98cc99;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
div.jsoneditor-value.jsoneditor-number {
  color: #f2767a;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}

div.jsoneditor-tree table.jsoneditor-invisible-field {
  display: none;
}

div.jsoneditor-modal .pico-modal-header {
  background: #4b4b4b;
}

div.jsoneditor-modal .jsoneditor-button-group input[type='button'],
div.jsoneditor-modal .jsoneditor-modal-actions input[type='submit'] {
  font-size: 14px;
  height: 32px;
  line-height: 18.2px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
}

div.jsoneditor-modal .jsoneditor-button-group input[type='button']:hover,
div.jsoneditor-modal .jsoneditor-modal-actions input[type='submit']:hover {
  font-size: 14px;
  height: 32px;
  line-height: 18.2px;
  border: 1px solid #4b4b4b;
  box-sizing: border-box;
}

div.jsoneditor-modal
  .jsoneditor-button-group
  input[type='button'].jsoneditor-button-last:hover,
div.jsoneditor-modal .jsoneditor-modal-actions input[type='submit']:hover {
  color: rgb(127, 143, 164);
}
