/* Reusable column setup */

.container_12 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

/* 1. 12 Column Grid 0px - Infinity
-----------------------------------------------------------------------------

Span 1:     6.5%
Span 2:    15.0%
Span 3:    23.5%
Span 4:    32.0%
Span 5:    40.5%
Span 6:    49.0%
Span 7:    57.5%
Span 8:    66.0%
Span 9:    74.5%
Span 10:   83.0%
Span 11:   91.5%
Span 12:    100%

----------------------------------------------------------------------------- */

/* Small devices (landscape phones, 576px and less) */

@media (max-width: 767.98px) {
  .container_12 {
    width: 100%;
    margin-left: 0%;
    padding: 0%;
    text-align: center !important;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    float: left;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
  }

  .grid_1 {
    width: 6.5%;
  }

  .grid_2 {
    width: 30%;
  }

  .grid_3 {
    width: 23.5%;
  }

  .grid_4 {
    width: 32%;
  }

  .grid_5 {
    width: 40.5%;
  }

  .grid_6 {
    width: 49%;
  }

  .grid_7 {
    width: 57.5%;
  }

  .grid_8 {
    width: 66%;
  }

  .grid_9 {
    width: 74.5%;
  }

  .grid_10 {
    width: 70%;
  }

  .grid_11 {
    width: 91.5%;
  }

  .grid_12 {
    margin-left: 0;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .container_12 {
    width: 100%;
    margin-left: 0%;
    padding: 0%;
    text-align: center !important;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    float: left;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
  }

  .grid_1 {
    width: 6.5%;
  }

  .grid_2 {
    width: 22%;
  }

  .grid_3 {
    width: 23.5%;
  }

  .grid_4 {
    width: 32%;
  }

  .grid_5 {
    width: 40.5%;
  }

  .grid_6 {
    width: 49%;
  }

  .grid_7 {
    width: 57.5%;
  }

  .grid_8 {
    width: 66%;
  }

  .grid_9 {
    width: 74.5%;
  }

  .grid_10 {
    width: 78%;
  }

  .grid_11 {
    width: 91.5%;
  }

  .grid_12 {
    margin-left: 0;
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .container_12 {
    width: 100%;
    margin-left: 0%;
    padding: 0%;
    text-align: center !important;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    float: left;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
  }

  .grid_1 {
    width: 6.5%;
  }

  .grid_2 {
    width: 16.5%;
  }

  .grid_3 {
    width: 23.5%;
  }

  .grid_4 {
    width: 32%;
  }

  .grid_5 {
    width: 40.5%;
  }

  .grid_6 {
    width: 49%;
  }

  .grid_7 {
    width: 57.5%;
  }

  .grid_8 {
    width: 66%;
  }

  .grid_9 {
    width: 74.5%;
  }

  .grid_10 {
    width: 83.5%;
  }

  .grid_11 {
    width: 91.5%;
  }

  .grid_12 {
    margin-left: 0;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  .page {
    margin: 0px auto 0px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .page {
    margin: 0px 0% 0px 0%;
    max-width: 100%;
    /*  overflow:hidden; */
    position: relative;
    box-sizing: border-box !important;
  }
}
