/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  h1 {
    font-size: 160%;
  }

  h2 {
    font-size: 140%;
  }

  h3,
  h4 {
    font-size: 120%;
  }

  h5,
  h6 {
    font-size: 100%;
  }

  .exemple {
    display: none;
  }

  #navigation {
    display: none;
  }

  .col-left {
    position: relative;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  #sitename {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px !important;
    margin-left: 0px !important;
    margin-bottom: 20px !important;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    -webkit-transition: all ease 700ms;
    -ms-transition: all ease 700ms;
    -o-transition: all ease 700ms;
  }

  #sitename a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0px;
    text-align: center;
  }

  #sitename a img {
    margin-top: -8px;
  }

  #sitename a span {
    display: inline-block;
    line-height: 17px;
    padding-top: 3px;
  }

  #sitename a:hover {
    color: #999999;
  }

  #sitename a:after {
    color: #999999;
    text-shadow: 0 0 transparent;
    font-size: 0.4em;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-left: 7px;
    font-weight: normal;
    width: 100%;
  }

  .menuButton {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: -10px;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    -webkit-transition: all ease 700ms;
    -ms-transition: all ease 700ms;
    -o-transition: all ease 700ms;
  }

  .menuButton a {
    display: inline-block;
    width: 19px !important;
    height: 19px !important;
    background: url(~core_assets/img/default/menu-responsive.png) no-repeat
      center top !important;
    -webkit-transition: -webkit-transform 0.9s;
    -moz-transition: -moz-transform 0.9s;
    -o-transition: -o-transform 0.9s;
    -ms-transition: -ms-transform 0.9s;
    transition: transform 0.9s;
  }

  .menuButton a:hover {
    background: url(~core_assets/img/default/menu-t.png) no-repeat center top;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }

  .fixedHeader .menuButton {
    margin-top: 19px;
  }

  .soc_icons li a {
    font-size: 10px;
    margin: 0px 0px;
    background: #000;
    width: 10px;
    height: 10px;
    padding: 0px;
    color: #797979;
    line-height: 10px;
  }

  #navigation a {
    display: block;
    text-decoration: none;
    padding: 8px 0;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: normal;
  }

  div.container_12 > div.grid_4 {
    width: 100%;
    height: 100;
  }

  .leading-0 {
    width: 100%;
  }

  .cols-1 {
    width: 100%;
  }

  .cols-2 .column-1 {
    width: 100%;
    float: left;
  }

  .cols-2 .column-2 {
    width: 100%;
    float: left;
  }

  .cols-3 .column-1 {
    float: left;
    width: 100%;
    padding: 0 5px;
    margin-right: 4%;
  }

  .cols-3 .column-2 {
    float: left;
    width: 100%;
    margin-left: 0;
    padding: 0 5px;
  }

  .cols-3 .column-3 {
    float: left;
    width: 100%;
    padding: 0 5px;
  }

  .items-row {
    overflow: visible;
    margin-bottom: 40px !important;
  }

  .items-row {
    overflow: visible;
    margin-bottom: 40px !important;
  }

  span.content {
    font-size: 12px;
  }

  a.portfolio-blog-featured:hover .overlays .content {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    top: 10%;
    left: 0;
    margin-top: -7%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }

  .copyright {
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    padding: 10px 20px 0px 0px;
    text-align: left;
  }

  div.container_12 > div.grid_1,
  div.container_12 > div.grid_3,
  div.container_12 > div.grid_4,
  div.container_12 > div.grid_5,
  div.container_12 > div.grid_6,
  div.container_12 > div.grid_7,
  div.container_12 > div.grid_8 div.container_12 > div.grid_9,
  div.container_12 > div.grid_11,
  div.container_12 > div.grid_12 {
    width: 100%;
  }

  #header {
    height: 120px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 160%;
  }

  h2 {
    font-size: 140%;
  }

  h3,
  h4 {
    font-size: 120%;
  }

  h5,
  h6 {
    font-size: 100%;
  }

  .exemple {
    font-size: 15px !important;
    line-height: 1.1em !important;
  }

  .menuButton {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: -10px;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    -webkit-transition: all ease 700ms;
    -ms-transition: all ease 700ms;
    -o-transition: all ease 700ms;
  }

  .menuButton a {
    display: inline-block;
    width: 19px !important;
    height: 19px !important;
    background: url(~core_assets/img/default/menu-responsive.png) no-repeat
      center top !important;
    -webkit-transition: -webkit-transform 0.9s;
    -moz-transition: -moz-transform 0.9s;
    -o-transition: -o-transform 0.9s;
    -ms-transition: -ms-transform 0.9s;
    transition: transform 0.9s;
  }

  .menuButton a:hover {
    background: url(~core_assets/img/default/menu-t.png) no-repeat center top;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }

  .fixedHeader .menuButton {
    margin-top: 19px;
  }

  #sitename {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px !important;
    margin-left: 0px !important;
    margin-bottom: 20px !important;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    -webkit-transition: all ease 700ms;
    -ms-transition: all ease 700ms;
    -o-transition: all ease 700ms;
  }

  #sitename a {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 0px;
    text-align: center;
  }

  #sitename a img {
    margin-top: -8px;
  }

  #sitename a span {
    display: inline-block;
    line-height: 17px;
    padding-top: 3px;
  }

  #sitename a:hover {
    color: #999999;
  }

  #sitename a:after {
    color: #999999;
    text-shadow: 0 0 transparent;
    font-size: 0.4em;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-left: 7px;
    font-weight: normal;
    width: 100%;
  }

  div.leading-0 div.gk-article-blog h2.article-header-blog,
  div.leading-1 div.gk-article-blog h2.article-header-blog,
  div.leading-2 div.gk-article-blog h2.article-header-blog,
  div.leading-3 div.gk-article-blog h2.article-header-blog,
  div.leading-4 div.gk-article-blog h2.article-header-blog,
  div.item.column-1 div.gk-article-blog h2.article-header-blog,
  div.item.column-2 div.gk-article-blog h2.article-header-blog,
  div.item.column-3 div.gk-article-blog h2.article-header-blog,
  div.item.column-4 div.gk-article-blog h2.article-header-blog,
  div.item.column-5 div.gk-article-blog h2.article-header-blog {
    background: url(~core_assets/img/default/bg-h3.png) 50% 100% no-repeat;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  /* .fixedHeader{
      background: #121212;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      height: 140px;
      left: 0;
      min-height: 70px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9998;
    }
    */
  div#slideshow
    > div#parallax-images
    > div.parallax.bg.images-parallax
    > div.content-p
    > div.container_12
    > div.grid_12
    > h1 {
    font-size: 40px !important;
  }

  /*
    #block-top img,
    #block-feature img,
    #block-beforecontent img,
    #block-aftercontent img,
    #block-bottomcontent img,
    #block-footertop img,
    #block-footerbottom img {
      background-size: cover;
      width: 100%;
      height: 100;
    }*/
  .leading-0 {
    width: 100%;
  }

  .cols-1 {
    width: 100%;
  }

  .cols-2 .column-1 {
    width: 100%;
    float: left;
  }

  .cols-2 .column-2 {
    width: 100%;
    float: left;
  }

  .cols-3 .column-1 {
    float: left;
    width: 100%;
    padding: 0 5px;
    margin-right: 4%;
  }

  .cols-3 .column-2 {
    float: left;
    width: 100%;
    margin-left: 0;
    padding: 0 5px;
  }

  .cols-3 .column-3 {
    float: left;
    width: 100%;
    padding: 0 5px;
  }

  .items-row {
    overflow: visible;
    margin-bottom: 40px !important;
  }

  .items-row {
    overflow: visible;
    margin-bottom: 40px !important;
  }

  div#navigation {
    display: none;
  }

  .copyright {
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    padding: 10px 20px 0px 0px;
    text-align: left;
  }

  div.container_12 > div.grid_1,
  div.container_12 > div.grid_3,
  div.container_12 > div.grid_4,
  div.container_12 > div.grid_5,
  div.container_12 > div.grid_6,
  div.container_12 > div.grid_7,
  div.container_12 > div.grid_8,
  div.container_12 > div.grid_9,
  div.container_12 > div.grid_11,
  div.container_12 > div.grid_12 {
    width: 100%;
  }

  #header {
    height: 120px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 160%;
  }

  h3 {
    font-size: 140%;
  }

  h4 {
    font-size: 120%;
  }

  h5 {
    font-size: 100%;
  }

  h6 {
    font-size: 100%;
  }

  .exemple {
    line-height: 1.1em !important;
  }

  #navigation ul.menu li a {
    padding: 0px 10px 10px 10px;
  }

  #navigation ul.menu li {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .menuButton {
    display: none !important;
  }

  #sitename a {
    color: #272727;
    font-size: 22px;
    text-transform: uppercase;
    height: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0px;
  }

  .soc_icons li a {
    font-size: 12px;
    margin: 0px 2px;
    background: #000;
    width: 12px;
    height: 12px;
    padding: 8px;
    color: #797979;
    line-height: 15px;
  }

  .col-left {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
  }

  #nav-top {
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    -webkit-transition: all ease 700ms;
    -ms-transition: all ease 700ms;
    -o-transition: all ease 700ms;
    width: 100%;
  }

  #navigation ul {
    padding: 0;
    margin: 0 10px 0 10px;
    list-style: none;
    text-align: left !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  .exemple {
    line-height: 1.1em !important;
  }

  .menuButton {
    display: none !important;
  }

  #sitename a {
    color: #272727;
    font-size: 22px;
    text-transform: uppercase;
    height: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
  }

  .soc_icons li a {
    font-size: 12px;
    margin: 0px 2px;
    background: #000;
    width: 12px;
    height: 12px;
    padding: 8px;
    color: #797979;
    line-height: 15px;
  }

  .col-left {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .exemple {
    line-height: 1.1em !important;
  }

  .menuButton {
    display: none !important;
  }

  .soc_icons li a {
    font-size: 13px;
    margin: 0px 2px;
    background: #000;
    width: 13px;
    height: 13px;
    padding: 8px;
    color: #797979;
    line-height: 15px;
  }
}
