/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom between content and footer */
  margin-bottom: 16rem;
}

body > .container {
  padding: 60px 15px 0;
}

.wrapper {
  width: 960px;
  max-width: 90%;

  margin: 0 auto;
}

/* NAVIGATION */
.navbar {
  width: 100%;

  background-color: rgba(250, 250, 250, 0.8);
}

.navbar-toggler {
  cursor: pointer;
  outline: 0;
}

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item {
  padding: 0 1rem;
}

/* BANNER */

#banner {
  width: 100%;
  height: 550px;
  z-index: 0; /* banner is on last page of stack */

  background: url(~static/mywebsite/img/banners/CodeBanner_medres.png);
  background-position: center;
  background-size: cover;
}

#banner h1 {
  padding-top: 200px;
  text-align: center;

  color: #f5f5f5;

  font-size: 4rem;
  /* text-transform: uppercase; */
  font-weight: bold;
}

#content {
  margin-top: 50px;
}

/* CONTENT */

#content h1 {
  text-align: left;

  color: #274e71;

  font-size: 3.5em;

  margin-top: 60px;
  margin-bottom: 15px;
  padding-top: 20px;

  text-decoration: underline;
}

#content h2 {
  text-align: left;

  color: #274e71;

  font-size: 2.5em;

  margin-top: 60px;
  margin-bottom: 15px;
  padding-top: 20px;

  text-decoration: underline;
}

#content h3 {
  text-align: left;

  color: #274e71;

  font-size: 1.5em;

  margin-top: 60px;
  margin-bottom: 15px;
  padding-top: 20px;

  text-decoration: underline;
}

#content p {
  margin-bottom: 30px;
  padding-left: 10px;

  border-left: solid 5px black;
}

#content ul {
  padding-left: 20px;
}

/* FOOTER */

.footer {
  position: absolute;

  bottom: 0;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  width: 100%;

  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
