/*************************************
/* Normalize and reset Bootstrap paddings and margins
***************************************/

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-sm-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-sm-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-sm-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-sm-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-sm-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-sm-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-sm-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-sm-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-sm-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-sm-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-sm-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-sm-12 {
  position: relative;
  height: 100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
}

.panel {
  border: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

/* GLOBAL */

/* Project colors
-----------------
Blue main font: RGB 30,50,125 / #1e327d
Green link highlights: RGB 50,125,30 / #327d1e
Purple attention grabber: RGB: 125,30,50 / #7d1e32
*/

* {
  margin: 0;
  padding: 0;
}

.parallax {
  background-attachment: fixed;
  background-position: top center !important;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 0 0 0px 0;
  /* text-align: center; */
  background-size: cover;
}

.images-parallax {
  background-image: url(~core_assets/img/default/banners/header-small.jpg);
  background-attachment: fixed;
  z-index: 2;
  width: 100%;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  background-image: url(~core_assets/img/default/paper-bg.jpg);
  background-size: 450px auto;
  background-position: top center;
  font-size: 13px;
  font-weight: normal;
  color: #1e327d;
}

.page {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clearfix,
#banner {
  display: inline-block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  height: 0;
}

.clearfix {
  width: 100%;
}

.container {
  background-color: #fff;
}

/* Define global scrollbar */

.nicescroll-rails {
  background-color: #fff;
}

/* Define global scrollbar */

.nicescroll-cursors {
  border: none !important;
  background-color: #1e327d !important;
  border-radius: 5px !important;
}

/* NAVIGATION */

.navbar {
  width: 100%;
  background-color: #fff;
}

.navbar a:hover,
.navbar a:focus {
  background-color: #f2f2f2;
}

.dropdown-menu {
  background-color: #fff !important;
}

.dropdown-menu a {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #f2f2f2;
}

.dropdown-item {
  color: #1e327d;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-menu {
  /* remove the gap so it doesn't close */
  margin-top: 0;
}

.dropdown-divider {
  border-color: #1e327d;
}

.navbar-toggler {
  cursor: pointer;
  outline: 0;
  border-width: 0.2rem;
  border-color: #1e327d;
  padding: 0px;
}

.navbar-toggler-icon {
  background-image: url(~core_assets/img/default/icon_nav.jpg) !important;
}

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item {
  padding: 0 1rem;
}

.nav-item > a.nav-link {
  text-decoration: none !important;
}

.tab-content {
  min-height: 300px;
}

/* HEADER */

.site-header .container {
  padding-left: 0px;
  padding-right: 0px;
}

#banner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#banner .banner-block {
  padding: 0;
  margin: 0;
  height: inherit;
  font-family: 'Reenie Beanie', Lato, 'Helvetica Neue', Helvetica, Arial,
    sans-serif !important;
  font-size: 48px;
  line-height: 150%;
}

#banner .banner-block a {
  /* color: #000222 */
}

#banner .banner-block-img {
  position: relative;
  top: 75%;
  background-image: url(~core_assets/img/default/banners/header-small.jpg);
  background-size: auto 100%;
  height: 75px;
}

#banner .centered {
  position: absolute;
  top: 40%;
  left: 50%;
  font-weight: normal;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* MAIN - Typography */

body {
  font-size: 12px;
  line-height: 1.7em;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font-size-is-xlarge {
  font-size: 15px;
  line-height: 1.7em;
}

.font-size-is-large {
  font-size: 14px;
  line-height: 1.7em;
}

.font-size-is-default {
  font-size: 12px;
  line-height: 1.7em;
}

.font-size-is-small {
  font-size: 11px;
  line-height: 1.7em;
}

.font-size-is-xsmall {
  font-size: 10px;
  line-height: 1.7em;
}

form {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center !important;
  font-weight: bold;
  margin: 15px 0;
  line-height: 1.1em;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 160%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 100%;
}

.site-content h1,
.site-content h2 {
  font-family: Merriweather, Lato, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  margin-top: 0px;
}

.article-header-blog h1,
.article-header-blog h2,
.article-header-blog h2 a:hover,
.article-header-blog h2 a:active {
  font-family: Merriweather, Lato, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  margin-top: 0px;
}

.article-header-blog a {
  color: #1e327d;
}

.article-header-blog a:hover {
  color: #000222;
}

a {
  text-decoration: none;
  color: #1e327d;
}

a:focus {
  outline: none;
}

a:hover {
  color: #000222;
}

.tooltip > .tooltip-inner {
  background-color: #1e327d;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 14px;
}

span.item-title a {
  font-size: 14px;
}

span.item-title > span.badge {
  line-height: 3;
  font-size: 100%;
}

span.item-title > span.badge.badge-info.tip {
  display: unset;
  background: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  color: #1e327d;
  margin-left: 8px;
  height: 15px;
  width: 15px;
  border: 3px solid #1e327d;
  font-weight: bold;
}

code {
  margin: -1px 0 0 0;
  color: #1e327d;
  font: 12px Courier;
}

blockquote {
  font: italic 16px/22px Georgia, Serif;
}

.block-info {
  width: 100%;
}

.card {
  background: none;
  border: 0px;
}

.card-body {
  padding: 0px;
}

p {
  text-align: justify;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 16px;
  margin-bottom: 0;
}

.contact,
.diff,
.categories,
.article-blog {
  display: inline-block;
  background-color: #fff;
  width: 100% !important;
  margin-bottom: 30px;
  padding: 4%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-blog.single .block-info {
  text-align: center !important;
  margin: 0px 10px 30px 0px;
  font-weight: normal;
  width: 100% !important;
}

article span.article-info {
  text-align: center !important;
  margin: 10px 10px 20px 0px;
  padding: 0 20% 0 20%;
  font-weight: normal;
  width: 100% !important;
  display: block;
  letter-spacing: 1px;
}

.meta {
  display: inline-block;
  margin: auto;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 100;
  width: 100%;
}

.meta a {
  color: #327d1f;
  text-decoration: none;
}

.meta a:hover,
.meta a:focus {
  background-color: #f2f2f2;
}

.meta-data-wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  min-height: 24px;
}

.meta-data-divider {
  display: block;
  height: 1px;
  background: #1e327d;
  width: 100%;
  position: absolute;
  top: 14px;
  max-width: 480px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.meta-data-positioning {
  z-index: 1;
  top: -10px;
  left: 0;
  right: 0;
  position: absolute;
}

.meta-data-text {
  display: inline-block;
  margin: auto;
  text-align: center;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
  padding: 0px 20px;
  background: #fff;
}

.content-text ul {
  padding: 0 15px;
}

.content-text ul li {
  list-style-type: square;
}

.article-description {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14.25px;
  margin: 10px 0 20px 0;
  padding: 0 0 10px 0;
  text-align: left;
}

.more,
input[type='submit'],
button[type='submit'] {
  padding: 15px 25px;
  border-radius: 0px;
  background: #1e327d;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  margin: auto;
  display: inline-block;
  text-decoration: none;
}

a.more:hover {
  color: #fff;
}

#content img,
#content iframe {
  /* margin: 0px 0px 0px 15px; */
  max-width: 100%;
}

.notebook-area {
  border: 1px solid #1e327d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 11px 20px 0 70px;
  resize: none;

  background-image: -moz-linear-gradient(
      top,
      transparent,
      transparent 50px,
      #e7eff8 0px
    ),
    -moz-radial-gradient(5% 55%, circle closest-corner, #f5f5f5, #f5f5f5 32%, transparent
          0%),
    -moz-radial-gradient(5% 52%, circle closest-corner, #cccccc, #cccccc 36%, transparent
          0%);
  background-image: -webkit-linear-gradient(
      top,
      transparent,
      transparent 50px,
      #e7eff8 0
    ),
    -webkit-radial-gradient(5% 55%, circle closest-corner, #f5f5f5, #f5f5f5 32%, transparent
          0%),
    -webkit-radial-gradient(5% 52%, circle closest-corner, #cccccc, #cccccc 36%, transparent
          0%);
  -webkit-background-size: 100% 50px;
  background-size: 100% 50px;
}

figure.image {
  display: inline-block;
  margin: 0 2px 0 1px;
  background: #f5f2f0;
  /* border: 1px solid #000;
    border-radius: 3px 3px 0 0; */
}

figure.align-right {
  float: right;
  margin-right: 0;
}

figure.align-left {
  float: left;
  margin-left: 0;
}

figure.image figcaption {
  /* background-color: #838383;
  color: white; */
  font-style: italic;
  border-radius: 0 0 3px 3px;
  margin: 6px 8px 6px 8px;
  text-align: center;
}

.article-list .more a {
  text-transform: uppercase !important;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 12px;
}

.article-list .more a:after {
  font-family: FontAwesome;
  content: '\f101';
}

dt.article-info-term {
  display: none;
}

.article-info dd {
  display: inline;
  padding-left: 0px;
  padding-right: 14px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase !important;
}

.article-info dt {
  display: none;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

dd.createdby:before {
  content: '\f040';
  font-family: fontawesome;
  font-weight: 100;
  margin-right: 7px;
  font-size: 1em;
}

dd.hits:before {
  content: '\f005';
  font-family: fontawesome;
  font-weight: 100;
  margin-right: 7px;
  font-size: 1em;
}

dd.bookmark:before {
  content: '\f02e';
  font-family: fontawesome;
  font-weight: 100;
  margin-right: 7px;
  font-size: 1em;
}

.article-info a {
  /* color: #000 !important; */
}

.article-info a:hover {
  /* color: #464646; */
}

dt.article-info-term {
  display: none;
}

.separator {
  padding: 20px;
}

.contact fieldset legend {
  font-size: 11.05px;
}

.contact textarea[id='id_message'] {
  width: 100%;
}

.lang-button-de {
  background: url(~core_assets/img/default/flag_DE.png) no-repeat !important;
  margin: 10px 0px 0px 10px !important;
  padding: 12px 10px 6px 12px !important;
  border: 0 !important;
}

.lang-button-en {
  background: url(~core_assets/img/default/flag_EN.png) no-repeat !important;
  margin: 10px 0px 0px 10px !important;
  padding: 12px 10px 6px 12px !important;
  border: 0 !important;
}

.sharing {
  float: left;
}

.fb_share_button,
.print_button,
.email_button {
  /* for more icons see https://simplesharebuttons.com/html-share-buttons */
  width: 45px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

.categories-list {
  text-align: left !important;
}

.categories-list ul li {
  list-style-type: none;
}

.btn {
  border: none;
  padding: 10px;
  margin: 20px 0;
  border-radius: 0;
  height: auto;
  width: auto;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  line-height: 25px;
}

.otp_is_disabled:before {
  content: 'DISABLED';
  z-index: 1;
  color: #fff;
  font-size: 11px;
  background: red;
  border: solid 1px darkred;
  padding: 2px;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.7;
  -webkit-text-shadow: 0 0 2px red;
  text-shadow: 0 0 2px red;
  box-shadow: 0 0 2px red;
}

.otp_is_enabled:before {
  content: 'ENABLED';
  z-index: 1;
  color: #fff;
  font-size: 11px;
  background: green;
  border: solid 1px darkgreen;
  padding: 2px;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.7;
  -webkit-text-shadow: 0 0 2px green;
  text-shadow: 0 0 2px green;
  box-shadow: 0 0 2px green;
}

.form_errors {
  color: red;
}

.form_messages {
  color: #1e327d;
}

#slide-contact form {
  position: relative;
  width: calc(100% - 17em);
  float: left;
  margin-left: 1em;
}

#slide-contact .paint-bgr {
  width: 100%;
  height: 10%;
  top: 92%;
  opacity: 0.85;
  -webkit-transform: rotate(8deg) translate3d(0, 0, 0);
  -moz-transform: rotate(8deg) translate3d(0, 0, 0);
  -ms-transform: rotate(8deg) translate3d(0, 0, 0);
  -o-transform: rotate(8deg) translate3d(0, 0, 0);
  transform: rotate(8deg) translate3d(0, 0, 0);
}

.paint-bgr {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  mix-blend-mode: multiply;
  pointer-events: none;
}

#slide-contact input[type='email'],
#slide-contact input[type='text'],
#slide-contact textarea {
  display: block;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0.5em 0.75em;
  background-color: transparent;
  font-weight: 300;
  font-style: italic;
  font-size: 1em;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

#slide-contact input,
#slide-contact button {
  border: none;
  outline: none;
  margin: 0;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-links {
  font-size: 16px;
}

.page-links a {
  color: #656565;
}

.page-current {
  /* color: #000; */
}

/* NEWS PREVIEW */

#news-split-imgages-section-3.container {
  margin: 0 !important;
  padding: 0 !important;
}

.widget {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  width: 100%;
  margin-bottom: 10px;
  padding-left: -15px !important;
}

.section-title {
  width: 100%;
  position: relative;
  float: left;
  clear: both;
  overflow: hidden;
}

.section-title:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 10px;
  height: 2px;
  background-color: #eaeaea;
  left: 16px;
  z-index: 6;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.section-title a {
  position: relative;
  z-index: 3;
  padding: 14px 14px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  float: left;
  margin-bottom: 8px;
  font-style: italic;
}

.section-title a:after {
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  right: -15px;
  bottom: 2px;
  background-color: #eaeaea;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  z-index: -1;
  display: block;
}

.inner-wrapper.split-images {
  width: 100%;
  position: relative;
}

.inner-wrapper.split-images .split-box img {
  margin: 0 !important;
  height: 100%;
  transform: translate(0%, -25%);
}

.inner-wrapper.split-images .split-slider img {
  margin: 0 !important;
  height: 100%;
  transform: translate(25%, -25%);
}

.inner-wrapper.split-images,
.split-box.news-item-1,
.split-slider {
  overflow: hidden;
  max-height: 480px;
  min-height: 200px;
}

.split-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  overflow: hidden;
  -webkit-transition: left 1s;
  transition: left 1s;
  border-left: 10px solid #fff;
  z-index: 7;
  background-color: #323232;
}

.split-box .news-thumb {
  margin-bottom: 0;
  position: relative;
  bottom: 6px;
}

.split-slider .news-thumb {
  transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  position: relative;
  left: -120px;
  margin-bottom: 0;
}

.split-slider.news-item-2:hover {
  left: 15%;
}

.split-slider.news-item-2.split-slider-left {
  left: 15%;
}

.split-slider.news-item-3 {
  left: 75%;
  z-index: 9;
}

.split-slider.news-item-3:hover {
  left: 40%;
}

.split-images .news-text-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 45%;
  padding: 15px 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.84);
  color: #1e327d;
}

.split-images .news-text-wrap a {
  color: #1e327d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.84);
}

.split-slider .news-text-wrap {
  transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
}

/* GALLERY */

#sliphovers .title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  -o-text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.25);
  -moz-text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sliphovers .desc {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 3px;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* BACK TO TOP */

.back-to-top {
  position: fixed;
  bottom: 55px;
  right: 30px;
  background-image: url(~core_assets/img/default/back-to-top.png);
  background-repeat: no-repeat;
  background-color: #fff;
  border: 0.5px solid #1e327d;
  background-position: 50% 50%;
  z-index: 999999;
  width: 55px;
  height: 55px;
  text-indent: -9999px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.back-to-top:hover,
.back-to-top:focus {
  background-color: #1e327d;
}

/* Popup without JavaScript. Used for NoScript */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 99998;
}

.overlay:target {
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 99999;
}

.popup h2 {
  margin-top: 0;
  color: #1e327d;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #1e327d;
}

.popup .close:hover {
  /* color: #252525; */
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* re-size form fields and labels of django.contrib.auth.forms */

div.members > form > * > input {
  display: block !important;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  #content .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  h1 {
    font-size: 160%;
  }

  h2 {
    font-size: 140%;
  }

  h3,
  h4 {
    font-size: 120%;
  }

  h5,
  h6 {
    font-size: 100%;
  }

  #banner {
    height: 180px;
  }

  #banner .banner-block-img {
    height: 45px;
  }

  .site-sidebar > div {
    margin-top: 1rem !important;
  }

  .notebook-area {
    padding: 11px 20px 0 45px;
  }

  .meta-data-text {
    font-size: 15px;
  }

  .element {
    min-width: 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .images {
    width: auto;
  }

  .images .sliphoveritem {
    max-width: 100%;
  }

  figure.align-right {
    margin-left: 15px;
  }

  figure.align-left {
    margin-right: 15px;
  }

  .site-footer .container .copyright {
    float: right;
  }

  .back-to-top {
    bottom: 75px;
  }

  .popup {
    width: 70%;
  }

  .form-control {
    width: 100% !important;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 160%;
  }

  h2 {
    font-size: 140%;
  }

  h3,
  h4 {
    font-size: 120%;
  }

  h5,
  h6 {
    font-size: 100%;
  }

  #banner {
    height: 180px;
  }

  #banner .banner-block-img {
    height: 45px;
  }

  .site-sidebar > div {
    margin-top: 1rem !important;
  }

  .notebook-area {
    padding: 11px 20px 0 45px;
  }

  .meta-data-text {
    font-size: 15px;
  }

  .wrapper {
    width: 540px;
    max-width: 90%;
    margin: 0 auto;
  }

  .element {
    min-width: 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .images {
    width: auto;
  }

  .images .sliphoveritem {
    max-width: 100%;
  }

  figure.align-right {
    margin-left: 15px;
  }

  figure.align-left {
    margin-right: 15px;
  }

  .site-footer .container .copyright {
    float: right;
  }

  .back-to-top {
    bottom: 75px;
  }

  .popup {
    width: 70%;
  }

  .form-control {
    width: 100% !important;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  .featured-content,
  .featured-sidebar {
    width: 100%;
    margin: 0;
  }

  #banner {
    height: 250px;
  }

  #banner .banner-block-img {
    height: 65px;
  }

  .site-main > .card {
    margin-right: 1rem !important;
  }

  .site-sidebar > .card {
    margin-left: 1rem !important;
  }

  .site-sidebar > div:not(:last-child) {
    margin-bottom: 1rem !important;
  }

  .wrapper {
    width: 720px;
    max-width: 90%;
    margin: 0 auto;
  }

  .element {
    min-width: 400px;
    max-width: 400px;
    padding-right: 0;
  }

  .images {
    width: auto;
    max-height: 400px;
  }

  .images .sliphoveritem {
    max-width: 400px;
    max-height: 400px;
  }

  .notebook-area {
    padding: 11px 20px 0 55px;
  }

  figure.align-right {
    margin-left: 15px;
  }

  figure.align-left {
    margin-right: 15px;
  }

  .site-footer .container .copyright {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-control {
    max-width: 650px !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  #banner {
    height: 250px;
  }

  #banner .banner-block-img {
    height: 65px;
  }

  #navigation ul.menu li a {
    padding: 0px 10px 10px 10px;
  }

  #navigation ul.menu li {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .site-main > .card {
    margin-right: 1rem !important;
  }

  .site-sidebar > .card {
    margin-left: 1rem !important;
  }

  .site-sidebar > div:not(:last-child) {
    margin-bottom: 1rem !important;
  }

  .wrapper {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
  }

  .element {
    min-width: 260px;
    max-width: 260px;
  }

  .images {
    width: auto;
    max-height: 260px;
  }

  .images .sliphoveritem {
    max-width: 260px;
    max-height: 260px;
  }

  .site-footer .container .copyright {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-control {
    max-width: 650px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  #banner .centered {
    font-size: 250%;
  }

  .site-main > .card {
    margin-right: 1rem !important;
  }

  .site-sidebar > .card {
    margin-left: 1rem !important;
  }

  .site-sidebar > div:not(:last-child) {
    margin-bottom: 1rem !important;
  }

  .wrapper {
    width: 1140px;
    max-width: 90%;
    margin: 0 auto;
  }

  .site-footer .container .copyright {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-control {
    max-width: 650px !important;
  }
}
