{% extends "admin/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}
{% load render_bundle from webpack_loader %}

{% block title %}
{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% render_bundle 'appAdminStyle' skip_common_chunks=True suffix='' %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% render_bundle 'appAdmin' skip_common_chunks=True suffix='' %}
<script>
    var get_tags_list_url = "{% url 'blog:get-tags-list-flat' %}";

</script>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</h1>
{% endblock %}

{% block nav-global %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% if languages|length > 1 %}
<div class="sidebar-link icon">
    {% for language in languages %}
    <form
        action="{% url 'home:set_language' %}"
        method="post"
        id="form_{{ language.code }}"
        style="display:inline!important;"
    >
        {% csrf_token %}
        <input
            name="next"
            type="hidden"
            value="{{ redirect_to }}"
        />
        <input
            name="language"
            type="hidden"
            value="{{ language.code }}"
        />
    </form>
    <button
        class="lang-button-{{ language.code }}"
        type="submit"
        form="form_{{ language.code }}"
        value="Submit"
    ></button>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
