{% extends "admin/base_site.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static widget_tweaks %}

{% block extrastyle %}
{{ block.super }}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'admin/css/login.css' %}"
/>
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'login_style.css' %}"
/>
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
    {% if form.errors.items|length == 1 %}
    {% trans "Please correct the error below." %}
    {% else %}
    {% trans "Please correct the errors below." %}
    {% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

    {% if user.is_authenticated %}
    <p class="errornote">
        {% blocktrans trimmed %}
        You are authenticated as {{ username }}, but are not authorized to
        access this page. Would you like to login to a different account?
        {% endblocktrans %}
    </p>
    {% endif %}

    <form
        action="{{ app_path }}"
        method="post"
        id="login-form"
        novalidate
    >{% csrf_token %}
        {% for fld in form %}
        <div class="form-row">
            {{ fld.errors }}
            {{ fld.label_tag }}
            {% if fld.name == 'otp_auth' %}
            {{ fld|attr:"autocomplete:off" }}
            {% else %}
            {{ fld }}
            {% endif %}
        </div>
        {% endfor %}

        <input
            type="hidden"
            name="next"
            value="{{ next }}"
        />

        {% url 'admin_password_reset' as password_reset_url %}
        {% if password_reset_url %}
        <div class="password-reset-link">
            <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
        {% endif %}
        <div class="submit-row">
            <label>&nbsp;</label><input
                type="submit"
                value="{% trans 'Log in' %}"
            />
        </div>
    </form>

</div>
{% endblock %}
