<!--
	Copyright (C) 2018 dsoft-app-dev.de and friends.

	This Program may be used by anyone in accordance with the terms of the
	German Free Software License

	The License may be obtained under http://www.d-fsl.org.
-->

{% load i18n static cookielaw_tags simple_menu core_settings_tags websettings_tags %}
{% load render_bundle from webpack_loader %}
{% generate_simple_menu %}

<!DOCTYPE html>
<html lang="de">

<head>
    <title>{% transFromWebSettings "WEBSITE_TITLE" %}</title>
    <meta charset="utf-8">
    <!-- Include Floating Social Buttons -->
    <meta
        property="floatingSocialButtons"
        content="{% site_vars as vars %} {{ vars.FLOATING_SOCIAL_BUTTONS }}"
    />
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    >
    <!-- Add to Home Screen for iOS -->
    <meta
        name="apple-mobile-web-app-capable"
        content="yes"
    >
    <!-- Placeholder for extra header content from templates -->
    {% block head %} {% include "home/includes/meta-tags.html" %} {% endblock %}
    {% render_bundle 'appStyle' skip_common_chunks=True suffix='' %}
    {% getCoreSettingItemsFor _('Script Reference') 'App Stylesheets' as object_list %}
    {% for object in object_list %}
    {% for obj in object|getWebSettingsAttribItems %}
    {% if obj|getAttribItemKey == "href" %}
    <link
        rel="stylesheet"
        href="{{ obj|getAttribItemValue|handleWebSettingsType }}"
    >
    {% else %}
    <style>
        {% autoescape off %}
            {{ obj|getAttribItemValue|handleWebSettingsType }}
        {% endautoescape %}
    </style>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <!-- Placeholder for extra styling from templates -->
    {% block extrastyle %} {% endblock %}
    <!-- Include of matomo tracking tags -->
    {% if "home/includes/matomo-tracking.html"|template_exists %}
    {% include_maybe "home/includes/matomo-tracking.html" %}
    {% endif %}
</head>

<body>
    <noscript>
        <!-- Check if Javascript is enabled -->
        <div
            id="nojs"
            class="overlay"
        >
            <div class="popup">
                <h2>{% trans "NOSCRIPT_HEADER" %}</h2>
                <a
                    class="close"
                    href="#nojs"
                >&times;</a>
                <div class="content">
                    {% trans "NOSCRIPT_INFO_TEXT" %}
                    <a
                        class="alert-link"
                        href="https://www.enable-javascript.com/"
                        target="_blank"
                    >{% trans "NOSCRIPT_INFO_REF" %}.</a>
                </div>
            </div>
        </div>
    </noscript>
    <script
        src="{% url 'javascript-catalog' %}"
        type="text/javascript"
    ></script>
    {% render_bundle 'app' skip_common_chunks=True suffix='' %}
    {% getCoreSettingItemsFor _('Script Reference') 'App Javascripts' as object_list %}
    {% for object in object_list %}
    {% for obj in object|getWebSettingsAttribItems %}
    {% if obj|getAttribItemKey == "src" %}
    <script
        src="{{ obj|getAttribItemValue|handleWebSettingsType }}"
        type="text/javascript"
    ></script>
    {% else %}
    <script type="text/javascript">
        {% autoescape off %}
            {{ obj|getAttribItemValue|handleWebSettingsType }}
        {% endautoescape %}
    </script>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <!-- Placeholder for extra javascript block from templates -->
    {% block javascript %}
    {% endblock %}
    <!-- Include Cookie banner -->
    {% cookielaw_banner %}
    <div id="menuModal">
        <div class="modal-content">
            <div class="container_12">
                <div class="grid_12">
                    <div
                        id="btn-close-modal"
                        class="close-menuModal modCloseButton"
                    >
                        <span></span>
                    </div>
                </div>
            </div>
            <div id="navigation-res">
                <div class="container_12">
                    <div class="grid_12">
                        {% include 'home/includes/menu.html' with menu=menus.main %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="search">
        <a
            href="#"
            class="cd-popup-trigger"
        >
            <i class="fa fa-search"></i>
        </a>
        <div
            class="cd-popup"
            role="alert"
        >
            <div class="cd-popup-container">
                <div class="search">
                    {% include "home/includes/search.html" %}
                </div>
                <a
                    href="#0"
                    class="cd-popup-close img-replace"
                >{% trans "SEARCH_INFO_CLOSE" %}</a>
            </div>
        </div>
    </div>

    <div class="page">
        <div id="header">
            <div class="container_12">
                <div class="grid_3">
                    <div id="sitename">
                        <a href="{% url 'home:index' %}">
                            <img
                                src="{% static 'mywebsite/img/logo.png' %}"
                                alt="Daßler Software Application Development"
                                width="250"
                                height="144"
                            >
                        </a>
                    </div>
                </div>
                <div class="grid_1">
                    <div class="menuButton">
                        <a
                            id="openMenu"
                            href="#menuModal"
                        ></a>
                    </div>
                </div>
                <div class="grid_8">
                    <div id="nav-top">
                        <div id="navigation">
                            {% include 'home/includes/menu.html' with menu=menus.main %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="col-right">
                <div id="parallax">
                    {% include "home/includes/parallax-image.html" %}
                </div>
                <div class="clr"></div>

                {% block content %} {% endblock %}

                <div id="parallax-slider">
                    {% include "home/includes/parallax-slider.html" %}
                </div>
                <div class="clr"></div>

                <div id="block-bottomcontent">
                    {% include "home/includes/bottom-content.html" %}
                </div>

                <div id="block-footer">
                    <div class="container_12">
                        <div class="grid_6">
                            <div
                                class="copyright"
                                data-scrollreveal="enter top over 0.8s"
                            >
                                {% transFromWebSettings "WEBSITE_DEV_FOOTER" %}
                            </div>
                        </div>
                        <div class="grid_6">
                            <div class="soc_icons_box">
                                <ul
                                    class="soc_icons"
                                    data-scrollreveal="enter left over 0.8s"
                                >
                                    <li>
                                        <!-- <a href="https://www.linkedin.com/in/chris-daßler-b3964a160" class="fa fa-linkedin" target="_blank" rel="nofollow" /> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a
                href="#"
                class="back-to-top"
            >{% trans "WEBSITE_BACK_TO_TOP" %}</a>
        </div>
    </div>
</body>

</html>
