{% extends 'home/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static crispy_forms_tags %}

{% block extrastyle %}
<style>
    #div_id_captcha img {
        margin: 0 !important;
        padding-bottom: 7px !important;
    }

    .captcha-refresh {
        margin: 0px 0px 0px 5px;
    }

    .invalid-feedback {
        display: inline-block;
    }

</style>
{% endblock %}

{% block content %}
<section id="content">
    <div class="contact">
        <h1>{% trans "CONTACT_HEADING" %}</h1>
        <div class="separator"></div>
        <div id="slide-contact">
            <div class="messages">
                <!-- Here is the space for messages -->
            </div>
            {% crispy form %}
        </div>
    </div>
</section>
{% endblock %}
