{% extends 'home/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}
<section id="content">
    <div class="newsfeed news">
        <h1>{% trans "INDEX_TITLE" %}</h1>
        <div class="separator"></div>
        {% for news in news_list %}
        <div class="article-blog post">
            <div class="meta">
                {{ news.date|date:"d M Y" }}
                {% if news.category %}
                / <a href="{% url 'blog:article-category-list' category=news.category.slug %}">{{ news.category }}</a>
                {% endif %}
            </div>
            {% if not news.is_body_title_hidden %}
            <h3 class="article-header-blog">
                {% if news.slug %}
                <a href="{% url 'blog:article-detail' slug=news.slug %}">
                    {{ news.title }}
                </a>
                {% else %}
                {{ news.title }}
                {% endif %}
            </h3>
            {% else %}
            <div class="separator"></div>
            {% endif %}
            <div class="teaser">
                {% if news.teaser %}
                {{ news.teaser|safe }}
                {% else %}
                {{ news.body|safe }}
                {% endif %}
            </div>
            {% if news.slug %}
            <h6 class="more">
                <a href="{% url 'blog:article-detail' slug=news.slug %}">
                    {% trans "ARTICLE_LIST_READ_MORE" %}
                </a>
            </h6>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% block pagination %} {% if is_paginated %}
    {% include "home/includes/pagination.html" %}
    {% endif %} {% endblock %}
</section>
{% endblock %}
