{% extends 'home/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}
<section id="content">
    <div class="article-list">
        <h1>{% trans "SEARCH_RESULTS_HEADING" %}</h1>
        <div class="separator"></div>
        <div class="article-list">
            {% if article_list %} {% for article in article_list %}
            <div class="article-blog post">
                <div class="meta">
                    {{ article.date|date:"d M Y" }} /
                    <a href="{% url 'blog:article-category-list' category=article.category.slug %}">{{ article.category }}</a>
                </div>
                <h2 class="article-header-blog">
                    <a href="{% url 'blog:article-detail' slug=article.slug %}">
                        {{ article.title }}
                    </a>
                </h2>
                <div class="teaser">
                    {{ article.teaser|safe }}
                </div>
                <h6 class="more">
                    <a href="{% url 'blog:article-detail' slug=article.slug %}">
                        {% trans "ARTICLE_LIST_READ_MORE" %}
                    </a>
                </h6>
            </div>
            {% endfor %} {% else %}
            <p>{% trans "SEARCH_NORESULTS" %}</p>
            {% endif %}
        </div>
    </div>
    {% block pagination %} {% if is_paginated %}
    {% include "home/includes/pagination.html" %}
    {% endif %} {% endblock %}
</section>
{% endblock %}
