{% comment %} Copyright (C) 2018 dsoft-app-dev.de and friends. This Program may
be used by anyone in accordance with the terms of the German Free Software
License The License may be obtained under http://www.d-fsl.org. Credit for
contents of this file goes to the project
https://github.com/jmrivas86/django-json-widget {% endcomment %}

<div id="id_jsoneditor_{{ name }}"></div>

<textarea cols="40" id="id_{{ name }}" name="{{ name }}" rows="10" required="">
{{ data }}</textarea
>

<script>
    // JSONEditor is exposed via webpack
    (function() {
        var container = document.getElementById("id_jsoneditor_{{ name }}");
        var currentMode = '{{ mode }}';
        var options = {
            modes: ['text', 'code', 'tree', 'form'],
            theme: 'ace/theme/tomorrow_night_eighties',
            mode: currentMode,
            search: true,
            enableSort: false,
            enableTransform: false,
            limitDragging: true,
            onChange: function () {
                var json = editor.get();
                document.getElementById("id_{{ name }}").value=JSON.stringify(json);
            },
            onModeChange: function(newMode, oldMode) {
                currentMode = newMode;
            },
            onNodeName: function(node) {
                // TODO: lodash is imported into window namespace! See https://github.com/lodash/lodash/issues/2251
                const data = window._.get(json, node.path);
                if (data !== undefined && 'name' in data) {
                    return data.name
                }
                if (data !== undefined && 'label' in data) {
                    return data.label
                }
            },
            onEditable: function (node) {
                if (currentMode !== 'form') {
                    // no other check, return immediately
                    return true;
                } else if (node.path) {
                    var isRootNode = node.path.length === 0;
                    var isSubNode = node.path.length === 1;

                    if (isRootNode || isSubNode) {
                        // no other check, return immediately
                        return true;
                    }
                }

                var readonly_fields = {{ readonly_fields|safe }};
                var editable_fields = {{ editable_fields|safe }};

                if (readonly_fields.length === 0 && editable_fields.includes('__all__')) {
                    // no other check, return immediately
                    return true;
                }

                if (readonly_fields.includes('__all__')) {
                    if (editable_fields.includes(node.field)) {
                        return true;
                    } else  {
                        return false;
                    }
                } else {
                    if (readonly_fields.includes(node.field) && !editable_fields.includes(node.field)) {
                        return false;
                    } else {
                        return true;
                    }
                }
            },
            onClassName: function (node) {
                if (currentMode !== 'form') {
                    // no other check, return immediately
                    return '';
                }

                var readonly_fields = {{ readonly_fields|safe }};
                var editable_fields = {{ editable_fields|safe }};

                var isRootNode = node.path.length === 0;
                var isSubNode = node.path.length === 1;

                if (readonly_fields.length === 0 && editable_fields.includes('__all__')) {
                    // no other check, return immediately
                    return '';
                }

                if (readonly_fields.includes('__all__')) {
                    if (editable_fields.includes(node.field)) {
                        return '';
                    } else  {
                        if (!isRootNode && !isSubNode) {
                            return 'jsoneditor-invisible-field';
                        } else {
                            return '';
                        }
                    }
                } else {
                    if (readonly_fields.includes(node.field) && !editable_fields.includes(node.field)) {
                        if (!isRootNode && !isSubNode) {
                            return 'jsoneditor-invisible-field';
                        } else {
                            return '';
                        }
                    } else {
                        return '';
                    }
                }
            },
        };
        var editor = new JSONEditor(container, options);
        if (editor) {
            document.getElementById("id_jsoneditor_{{ name }}").style="height:500px;float:right;width:100%;"
            document.getElementById("id_{{ name }}").style="display: none";

            var json = {{ data|safe }};
            editor.set(json);
            editor.$blockScrolling = Infinity
        }
    })();
</script>
