{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
<div id="CookielawBanner">
    <div
        class="cd-popup is-visible"
        role="alert"
    >
        <div class="cd-popup-container">
            <p>
                {% trans "COOKIE_INFO_PARA" %}
            </p>
            <div class="cookie-buttons">
                <a
                    class="btn-grey"
                    href="{% url 'home:data-privacy' %}"
                >{% trans "COOKIE_INFO_LEGAL_ADVICE" %}</a>
                <a
                    class="btn-dark"
                    href="javascript:Cookielaw.createCookielawCookie();"
                >{% trans "COOKIE_INFO_OK" %}</a>
            </div>
            <a
                href="#0"
                class="cd-popup-close img-replace"
            >{% trans "COOKIE_INFO_CLOSE" %}</a>
        </div>
    </div>
</div>
