{% extends 'home/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static hitcount_tags core_settings_tags websettings_tags %}

{% block head %}
<meta
    name="keywords"
    content="{{ article.meta_keywords|safe }}"
>
<meta
    name="description"
    content="{{ article.teaser|striptags|safe }}"
>
<meta
    name="author"
    content="{{ article.author|safe }}"
>
<!-- Google / Search Engine Tags -->
<meta
    itemprop="name"
    content="{{ article.title|safe }}"
>
<meta
    itemprop="description"
    content="{{ article.teaser|striptags|safe }}"
>
{% getCoreSettingItemsFor _('Meta Tag') 'Google Tags' as object_list %}
{% with object_list|getWebSettingsNamedAttrib:'image'|getAttribItemValue|handleWebSettingsType as google_image %}
<meta
    itemprop="image"
    content="{{ google_image }}"
>
{% endwith %}
<!-- Facebook Meta Tags -->
<meta
    property="og:url"
    content="{{ request.build_absolute_uri }}"
>
<meta
    property="og:type"
    content="article"
>
<meta
    property="og:title"
    content="{{ article.title|safe }}"
>
<meta
    property="og:description"
    content="{{ article.teaser|striptags|safe }}"
>
{% getCoreSettingItemsFor _('Meta Tag') 'Facebook Tags' as object_list %}
{% with object_list|getWebSettingsNamedAttrib:'og:image'|getAttribItemValue|handleWebSettingsType as og_image %}
<meta
    property="og:image"
    content="{{ og_image }}"
>
{% endwith %}
<meta
    property="og:locale"
    content="de_DE"
>
<!-- Twitter Meta Tags -->
<meta
    name="twitter:card"
    content="summary"
>
<meta
    name="twitter:url"
    content="{{ request.build_absolute_uri }}"
>
<meta
    name="twitter:title"
    content="{{ article.title|safe }}"
>
<meta
    name="twitter:description"
    content="{{ article.teaser|striptags|safe }}"
>
{% getCoreSettingItemsFor _('Meta Tag') 'Twitter Tags' as object_list %}
{% with object_list|getWebSettingsNamedAttrib:'twitter:image'|getAttribItemValue|handleWebSettingsType as twitter_image %}
<meta
    name="twitter:image"
    content="{{ twitter_image }}"
> {% endwith %}
{% endblock %}

{% block javascript %}
{% get_hit_count_js_variables for article as hitcount %}
<script type="text/javascript">
    let $hitcount_pk = "{{ hitcount.pk }}",
        $hitcount_url = "{{ hitcount.ajax_url }}";

</script>
{% endblock %}

{% block content %}
<section id="content">
    <div class="article-blog ajax single">
        <aside>
            <time class="day">{{ article.date|date:"d M Y" }}</time>
        </aside>
        {% if not article.is_body_title_hidden %}
        <h2 class="article-header-blog">
            {{ article.title }}
        </h2>
        {% endif %}
        {% get_hit_count for article as total_hits %}
        <div class="block-info">
            <span class="article-info">
                <dt class="article-info-term">{% trans "ARTICLE_INFO_DETAILS" %}</dt>
                <dt class="article-info-term">{% trans "ARTICLE_INFO_HITS" %}: </dt>
                <dd class="hits">{{ total_hits }}</dd>
            </span>
        </div>
        <div class="separator"></div>
        <div class="content-text">
            {{ article.body|safe }}
        </div>
    </div>
</section>
{% endblock %}
