{% extends 'home/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block extrastyle %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'mywebsite/css/admin-extra.css' %}"
/>
<style>
    input {
        background: #262626;
        color: #fff !important;
        border: none;
        padding: 10px;
        margin: 20px 0;
        border-radius: 0;
    }

</style>
{% endblock %}

{% block content %}
<section id="content">
    <div class="article-history-list">
        <h1>{% trans "ARTICLE_COMPARE_HISTORY" %}</h1>
        <div class="separator"></div>
        <div class="diff">
            <div class="meta">
                <a href="{% url 'blog:article-detail' slug=article.slug %}">{{ article.title }}</a> / {{ article.date|date:"d M Y" }}
                /
                <a href="{% url 'blog:article-category-list' category=article.category.slug %}">{{ article.category }}</a>
            </div>
            <div>
                {% include "reversion-compare/action_list_partial.html" %}
            </div>
            <div>
                {% if request.GET.version_id1 %}
                <div> {% include "reversion-compare/compare_partial.html" %} </div>
                <div> {% include "reversion-compare/compare_links_partial.html" %} </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
