{% extends 'home/base.html' %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}
<section id="content">
    <div class="categories-list">
        <h1>{% trans "MENU_CATEGORIES" %}</h1>
        <div class="separator"></div>
        <ul class="first">
            {% for category in category_list %}
            <li>
                <span class="item-title">
                    <a href="{% url 'blog:article-category-list' category=category.slug %}">{{ category.name }}</a>
                    <span
                        class="badge badge-info tip"
                        data-toggle="tooltip"
                        title="{% trans 'Article count' %}: {{ category.articles.count }}"
                    >
                        {{ category.articles.count }}
                    </span>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% block pagination %} {% if is_paginated %}
    {% include "home/includes/pagination.html" %}
    {% endif %} {% endblock %}
</section>
{% endblock %}
